$containerWidth: 1200px;
$imageHeight: 500px;

.Page-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .anime {
        display: flex;
        width: $containerWidth;
        flex-direction: column;

        .anime-header {
            display: flex;
            flex-direction: column;
            .anime-rating {
                width: 100%;
                text-align: right;;
            }
            .anime-images-container {
                display: grid;
                grid-template-columns: auto auto auto;
                height: $imageHeight;
                width: 100%;

                .image-1 {
                    height: inherit;
                    border: 1px solid gray;

                    img {
                        height: inherit;
                    }
                }

                .image-2 {
                    height: inherit;
                    grid-column: 2/3;
                    width:100%;
                    img {
                        height: inherit;
                        width: inherit;
                        object-fit: cover;

                    }
                }
            }
        }
    }

}


@media (max-width: 1300px)  {
    .Page-2 {
        .anime {
            width: $containerWidth*0.9;
            .anime-header {
                .anime-images-container {
                    height: $imageHeight*0.9;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .Page-2 {
        .anime {
            width: $containerWidth*0.8;
            .anime-header {
                .anime-images-container {
                    height: $imageHeight*0.8;
                }
            }
        }
    }
}


@media (max-width: 1000px) {
    .Page-2 {
        .anime {
            width: $containerWidth*0.7;
            .anime-header {
                .anime-images-container {
                    height: $imageHeight*0.7;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .Page-2 {
        .anime {
            width: $containerWidth*0.6;
            .anime-header {
                .anime-images-container {
                    height: $imageHeight*0.6;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .Page-2 {
        .anime {
            width: 95vw;
            .anime-header {
                .anime-images-container {
                    height: $imageHeight*0.5;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .Page-2 {
        .anime {
            width: 95vw;
            .anime-header {
                .anime-images-container {
                    height: $imageHeight*0.5;
                    .image-1 {
                        display: none;
                    }
                    .image-2 {
                        grid-column: 1/3;
                    }
                }
            }
        }
    }
}